.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-auto-flow: row;
    gap: 1rem;
}
article {
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 1em;
}

h2 {
    margin: 0;
}
h1,
h2 {
    text-wrap: balance;
    line-height: 1.1;
}
#projects-plot {
    max-width: 20em;
    margin-block: 2em;

    overflow: visible;
}
.container {
    display: flex;
}

.legend {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
    padding: 1em;
    border: 1px solid #ccc;
    list-style: none;
    flex: 1;
}
.legend > li {
    display: flex;
    align-items: center;
    gap: 0.2em;
}
.swatch {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    aspect-ratio: 1/1;
    background-color: var(--color);
}
&:has(path:hover) {
    path:not(:hover) {
        opacity: 0.5;
    }
}
path {
    transition: 300ms;
}

.selected {
    --color: oklch(60% 45% 0) !important;

    &:is(path) {
        fill: var(--color);
    }
}
path {
    cursor: pointer;
}
