.gridlines {
  opacity: 0.1;
}
circle {
  @starting-style {
    r: 0;
  }
  transition: 200ms;
  transform-origin: center;
  transform-box: fill-box;
}

circle:hover {
  transform: scale(1.5);
}
.tooltip {
  position: fixed;
  top: 1em;
  left: 1em;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20%;
  border-width: 1px;
  border-color: black;
  padding: 1em;
  border-style: solid;
}

dl.stats {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.5rem 1rem;

  padding: 1em;
  align-items: baseline;
}

#stats > dl.stats {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 20%;
}

.stats > dt {
  grid-row: 1;
}

.stats > dd {
  grid-row: 2;
  font-weight: bold;
  margin: 0; /* Remove default margin */
  display: grid;
}

dl.info {
  /* ... other styles ... */
  transition-duration: 500ms;
  transition-property: opacity, visibility;
}

dl.info[hidden]:not(:hover, :focus-within) {
  opacity: 0;
  visibility: hidden;
}

#commit-tooltip {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem 1rem;
  align-items: baseline;
}
#commit-tooltip > dt {
  grid-column: 1;
}

#commit-tooltip > dd {
  grid-column: 2;
  font-weight: bold;
  margin: 0; /* Remove default margin */
  display: grid;
}
circle.selected {
  fill: #ff6b6b;
}
#filter {
  display: flex;
  width: 100%;
}
#filter > label {
  width: 100%;
  border-radius: 20%;
  flex: 1;
}
#commit-time-slider {
  width: 84.5%;
}

#selected-time {
  width: 100%;
  display: block;
  text-align: right;
  padding-right: 100em;
}
.files {
  display: grid;
  grid-template-columns: 30% 70%;
}

.files > div {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
}
.files > dt {
  grid-column: 1;
}

.files > dd {
  grid-column: 2;
}

.line {
  display: flex;
  width: 0.5em;
  aspect-ratio: 1;
  border-radius: 50%;
}
#file-lines {
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  align-content: start;
  gap: 0.15em;
  padding-top: 0.6em;
  margin-left: 0;
}
body {
  max-width: min(120ch, 80vw);
}
#scrollytelling {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
}

/* feel free to play with this to make your scrolly more seemless with your plot */
#scroll-container {
  grid-column: 1;
  position: relative;
  width: 95%;
  height: 350px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  margin-bottom: 50px;
}

#chart {
  grid-column: 2;
}

#spacer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: none; /* transparent */
  pointer-events: none;
}

#items-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.item {
  height: 30px;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 2px solid #eee;
}