.gridlines {
    opacity: 0.1;
}
circle {
    transition: 200ms;
    transform-origin: center;
    transform-box: fill-box;
}

circle:hover {
    transform: scale(1.5);
}
.tooltip {
    position: fixed;
    top: 1em;
    left: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20%;
    border-width: 1px;
    border-color: black;
    padding: 1em;
    border-style: solid;
}

dl.stats {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem 1rem;
    align-items: baseline;
}

.stats > dt {
    grid-column: 1;
}

.stats > dd {
    grid-column: 2;
    font-weight: bold;
    margin: 0; /* Remove default margin */
    display: grid;
}

dl.info {
    /* ... other styles ... */
    transition-duration: 500ms;
    transition-property: opacity, visibility;
}

dl.info[hidden]:not(:hover, :focus-within) {
    opacity: 0;
    visibility: hidden;
}

#commit-tooltip {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem 1rem;
    align-items: baseline;
}
#commit-tooltip > dt {
    grid-column: 1;
}

#commit-tooltip > dd {
    grid-column: 2;
    font-weight: bold;
    margin: 0; /* Remove default margin */
    display: grid;
}